.container {
    padding: 10px
}

.wrapper {
    border: 1px solid #4472C4;
    height: calc(100vh - 25px);
}

.header {
    padding: 30px;
    overflow: hidden;
    border-bottom: 1px solid #4472C4;
}

.headerTitle {
    font-size: 54px;
    background: -webkit-linear-gradient(#1F4E79, #5B9BD5, #9DC3E6);
    -webkit-background-clip: text;
    line-height: 34px;
    -webkit-text-fill-color: transparent;
    max-height: 100px;
    opacity: .8;
    font-weight: 500;
    margin: 0;
    margin-bottom: -30px;
}

.headerTitle:after {
    line-height: 34px;
    content: "OBS REACTJS TEST";
    display: flex;
    transform: rotateX(180deg);
    background-image: linear-gradient(#fff 50%, #BDD7EE);
    -webkit-background-clip: text;
    color: transparent;
}

.wrapperMain {
    display: flex;
    height: calc(100% - 60px - 38px);
}

.sidebar {
    width: 200px;
    border-right: 1px solid #4472C4;
}

.menu {
    width: 100%;
    border: 0;
    background: linear-gradient(#6083CB, #3E70CA, #2E61BA);
    color: #fff;
    font-size: 15pt;
    padding: 10px;
}

.content {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeMessage {
    font-weight: 400;
    font-size: 100pt;
    color: #4472C4;
    text-shadow: 2pt 2pt 3pt #6E747A89;
}
